body{
    background: rgba(0, 10, 288, 1) url(bulbon.jpg) right top no-repeat;/*all background feature in a single line*/
    /*alpha channel for opacity of color*/

}
h1{
    color: burlywood;
}
p.check{
    color: beige;
    font: italic 50px "Trirong", serif;

    border-bottom: 10px solid purple;
    
    
   
}
h2{
    background-color: lightgreen;
    opacity: 1.0;
    font-weight: bold;
    font-size: 2em /*32pixels(pixels/16 == 1em)*/
}
h3{
    background-image: url(flower1.jpg);
    /*background-repeat:no-repeat; --> the image will not repeat*/
    color:red
    
}
div{
    border:1px solid black;
    margin:auto;
    background: yellow;
    text-transform: lowercase;
}
.pad{
    border: 2px solid black;
    padding: 25px 50px 35px 40px;
    background: lightblue;
    width:300px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px purple;
    
}
.box{
    border: 20px solid orange;
    background-color: grey;
    padding: 10px;
    margin:30px;
    width:500px;
    outline: 10px ridge yellow;
    outline-offset: 10px; /*space between the border and the outline*/
    text-align: justify;/*like news paper column with equal width */
    text-decoration: underline red wavy 3px;
    text-transform: capitalize;
}

a:link{
    text-decoration: none;
}
a:hover{
    color:yellow;
    text-decoration: underline;
}
.linkbox:link{
    background-color: gold;
    padding: 10px;
    border:2px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color:orangered

}
.linkbox:hover{
    background-color: silver;
    color: white;
    cursor:grab;
}
.sticky{
    position: sticky;
    padding: 5px;
    border:  2px solid darkgreen;
    background-color: lightgreen;
}
*{
    text-align: center;
} 
